
<h3>
    Please select on from currently avaliable districts and wait for results.
</h3>


<div class="row">
    <div class="col-md-12">
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="avaliableDistricts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Avaliable districts
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="avaliableDistricts">
            @foreach (var district in ViewBag.AvaliableDistricts)
            {
                <li><a asp-controller="Notification" asp-action="Search" asp-route-id="@district.Name">@district.Name</a></li>
            }
        </ul>
        </div>
    </div>
</div>