<address class="top-buffer">
    Rafał Pieńkowski<br />
    <hr />
    <div class="top-buffer">
        <a href="https://github.com/rafalpienkowski/">Github <i class="fab fa-github"></i></a><br />
        <a href="https://www.linkedin.com/in/rafal-pienkowski/">LinkedIn <i class="fab fa-linkedin-in"></i></a><br />
        <a href="https://www.rafalpienkowski.pl/">Blog <i class="fas fa-book"></i></a><br />
    </div>
</address>

<address>
    <strong>Contact:</strong> <a class="disable-loading" href="mailto:rafal.pienkowski@wp.pl">rafal.pienkowski@wp.pl</a><br />
</address>