<div class="row">
    <div class="col-md-12">
        <h2>Warsaw 19115 Notification System</h2>
        <p>
            This simple system consumes data exposed by Miasto Stołeczne Warszawa (Url: http://api.um.warszawa.pl).
        </p>
        <p>
            This services shows all reported notifications for given district.
        </p>
        <p>
            To show notifications got to
            <a class="btn btn-default" asp-controller="Notification" asp-action="Index">Notifications</a>
        </p>
    </div>
</div>
