<div class="row">
    <div class="col-md-12">
        <h2>Warsaw 19115 Notification System</h2>
        <hr />
        <p>
            This simple system consumes data exposed by Miasto Stołeczne Warszawa (Url: http://api.um.warszawa.pl).
        </p>
        <p>
            This services shows all reported notifications for given district.
        </p>
        <p>
            To show notifications got to
            <a class="btn btn-default" asp-controller="Notification" asp-action="Index">Notifications</a>
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        The source code could be found in the <a href="https://github.com/rafalpienkowski/warsaw-19115-notofications"><i class="fab fa-github"></i> Github repository</a>.
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h5>Technologies and libraries used to create this project:</h5>
        <i class="fas fa-angle-right"></i> <a href="https://www.microsoft.com/net/download">.Net Core 2.1</a><br />
        <i class="fas fa-angle-right"></i> <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.1">ASP.Net Core MVC</a><br />
        <i class="fas fa-angle-right"></i> <a href="https://automapper.org/">Automapper</a><br />
        <i class="fas fa-angle-right"></i> <a href="https://xunit.github.io/">XUnit</a><br />
        <i class="fas fa-angle-right"></i> <a href="https://fluentassertions.com/">FluentAssertions</a><br />
        <i class="fas fa-angle-right"></i> <a href="https://jquery.com/">JQuery</a><br />
        <i class="fas fa-angle-right"></i> <a href="http://getbootstrap.com/">Bootstrap 3</a><br />
        <i class="fas fa-angle-right"></i> <a href="https://datatables.net/">DataTables</a><br />
        <i class="fas fa-angle-right"></i> <a href="https://fontawesome.com/">Font Awsome</a><br />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h5>Propositions of further improvements:</h5>
        <i class="fas fa-angle-double-right"></i> Authentication and authorization, e.g. <a href="https://oauth.net/2/">OAuth2</a><br />
        <i class="fas fa-angle-double-right"></i> Extended logging, e.g. integration with <a href="https://docs.microsoft.com/en-us/azure/application-insights/app-insights-overview">Azure Application Insights</a><br />
        <i class="fas fa-angle-double-right"></i> Api response cache (InMemory/Redis)<br />
        <i class="fas fa-angle-double-right"></i> Update of some packages like Bootstrap, JQuery<br />
    </div>
</div>  